/* 
Colours:
#3E0F1B - burgundy

#6F2A3B - lighter burgundy / pink-red

#C3B9B5 - cream

#A27448 - light brown

#6C4427 - darker brown
*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #6f2a3b;
  color: white;
}
h1 {
  margin-top: 0;
}
nav {
  border: 1px solid #a27448;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
a {
  color: #3e0f1b;
}
a:hover {
  color: #a27448;
}
#main {
  height: 100%;
  margin: 0 auto;
  padding: 20px 10px 60px 10px;
  max-width: 80%;
}

.banner {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.cappuccino {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  background-color: #a27448;
}
.food-table {
  padding-bottom: 30px;
}
.address {
  padding: 30px 30px 100% 30px;
  background-color: #6c4427;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}
td {
  vertical-align: top;
}
